name = "astro-document-tracking"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"
cwd = "."

[assets]
directory = "./dist"

[env.production]
vars = { ENVIRONMENT = "production" }

[env.development]
vars = { ENVIRONMENT = "development" }
